.loginPageBody {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #8a5f49;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.signUpSection, .logInSection {
    width: 45%;
    text-align: center;
    margin: 10px;
}

label {
    margin-bottom: 15px;
}

input {
    color: black;
    width: 100%;
    padding: 5px;
}

.loginbutton, .submitbutton {
    width: 45%;
    padding: 10px;
    background-color: #416655;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: white;
}

.loginbutton:hover, .submitbutton:hover {
    background-color: black;
}

@media screen and (max-width: 420px) {
    .signUpSection, .logInSection {
        width: 90%;
    }
}

.error {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
}