.fitness {
    background: linear-gradient(#AD630E,#E6A45E);
}
.fitness h1 {
    padding: 30px;
    display: flex;
    flex-wrap:inherit;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.fitness Form, .fitness h2 {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.fitnessDate {
    display: flex;
    justify-content: center;
}
.fitnessWeek {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.fitnessCards.card {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    margin: 2px;
    height: fit-content;
    flex-direction: row;
}
.fitnessWeek h4 {
    padding-bottom: 30px;
}
.fitnessInput, .form-check-input {
    padding-bottom: 5px;
    max-width: 120px;
}