.exerciseCardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fitnessCards {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    width: 15rem;
    height: 18rem;
}

/* using this css for these tags for every js that has them for uniformity */
h4 {
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0px;
}

li {
    font-weight: normal;
    width: fit-content;
    text-align: left;
    list-style-type: none;
}