* {
    text-decoration: none;
}

.Dashboard {
text-align: center;
background: #797d62;
}

.goalsList {
    margin-bottom: 40px;
}

.goalsLi, .compLi {
    list-style-type: none;
    padding: 10px;
}

table {
    margin: auto;
    padding: 10px;
    min-width: 80%;
}

tr {
    height: 50px;
}

th {
    padding: 10px;
    margin-top: 20px;
}

.goalsLink {
    padding: 10px;
    background-color: #416655;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: white;
}