* {
    text-decoration: none;
    color:white;
}

.Dashboard {
text-align: center;
background: #797d62;
padding: 10px;
display: flex;
flex: wrap;
flex-direction: column;
}

.yourGoals {
    margin-top: 20px;
    margin-bottom: 25px;;
}

.goalsList {
    margin-bottom: 15px;
}

.goalsLi, .compLi {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.goalsLink {
    padding: 10px;
    background-color: #416655;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: white;
}

table {
    margin: auto;
    padding: 10px;
    min-width: 80%;
}

tr {
    height: 50px;
}

th {
    padding: 10px;
    margin-top: 20px;
}

.pageLink {
    text-decoration: none;
    color: white;
}

/* .hydrationdashboard p {
    display: none;
}

.hydrationdashboard table:hover~ .hydrationdashboard p {
    display: block;
} */