* {
    text-decoration: none;
    color:white;
}

.Dashboard {
text-align: center;
background: #797d62;
padding: 10px;
display: flex;
flex: wrap;
flex-direction: column;
}

.yourGoals {
    margin-top: 20px;
    margin-bottom: 25px;;
}

.goalsList {
    margin-bottom: 15px;
}

.goalsLi, .compLi {
    list-style-type: none;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.goalsLink {
    padding: 10px;
    background-color: #416655;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: white;
}

.goalsLink:hover {
    background-color: black;
}

table {
    margin: auto;
    padding: 10px;
    min-width: 80%;
}

tr {
    height: 50px;
}

th {
    padding: 10px;
    margin-top: 20px;
}

.pageLink {
    text-decoration: none;
    color: white;
}

.fitnessdashboard, .sleepdashboard, .hydrationdashboard {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 80px;
}

.fitnessdashboard {
    background-color: #baa587;
}

.sleepdashboard {
    background-color: #b8947e;
}

.hydrationdashboard {
    background-color: #a39779;
}

.dayTable {
    display:block;
    height: fit-content;
    width: 140px;
    overflow: scroll;
}

@media screen and (max-width: 700px) {
    .fitnessdashboard, .sleepdashboard, .hydrationdashboard {
        margin: 10px 30px;
    }
}

/* .hydrationdashboard p {
    display: none;
}

.hydrationdashboard table:hover~ .hydrationdashboard p {
    display: block;
} */

