* {
    text-decoration: none;
}

.Dashboard {
text-align: center;
}

table {
    margin: auto;
    padding: 10px;
    min-width: 80%;
}

tr {
    height: 50px;
}

th {
    padding: 10px;
    margin-top: 20px;
}