.sleep {
    background: linear-gradient(#017b90, #9fe9ff);
}

.sleep h1 {
    padding: 50px 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.sleepWeek {
    display: flex;
    justify-content: center;    
    padding: 15px;
    margin: 10px;
    font-weight:bolder;
}