.sleep {
    background: #b8947e;
}

.sleep h1 {
    background: #b8947e;
    padding: 15px 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

.form-horizontal {
    background: #b8947e;
    margin-left: 10px;
}

#formDate, #formTime, #formDiffFall, #formDiffStay, #formMood {
    height: 30px;
}

.card.body {
    background: #d9ae94;
}

.btn {
    width: fit-content;
    margin: 3px;
}