.cardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sleepCards {
    display: flex;
    justify-content: center;    
    padding: 15px;
    margin: 10px;
    font-weight:bolder;
    width: fit-content;
    justify-content: center;
    flex-direction: row;
}

h4 {
    text-align: center;
}

.sleepResults {
    padding: 0px;
}

li {
    list-style-type: none;
    font-weight: normal;
}