.mindfulCardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mindfulnessCards {
    overflow-y: auto;
    display: flex;
    justify-content: center;    
    padding: 15px;
    margin: 10px;
    font-weight:bolder;
    width: 15rem;
    height: 17rem;
    max-height: none;
    justify-content: center;
    flex-direction: row;
}

h4 {
    text-align: center;
}

.mindfulnessResults {
    padding: 0px;
}

li {
    list-style-type: none;
    font-weight: normal;
    color: black;
}