.hydration {
    background: #a39779;
    text-align: center;
    padding: 10px;

}

.hydration h1 {
    margin-top: 10px;
}

.hydration h2 {
    padding: 10px;
}

.waterForm {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hydroBtn {
    background-color: #66562b;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: white;
}

.hydroBtn:hover {
    background-color: black;
}

.hydration.card {
    background: #a39779;
}