.hydrationCardHolder {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hydrationCards {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    width: fit-content;
    flex-direction: row;
    width: 15rem;
    height: 18rem;
}

.card-body {
    background: #cfbd8f;
}


h4 {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0px;
}

li {
    font-weight: normal;
    width: fit-content;
    text-align: left;
}

.fill {
    position: absolute;
    top: 90;
    left: 10;
    width: 10%;
    height: 10%;
    background: hotpink;
    opacity: .5;
  }

  .content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }