.hydrationCardHolder {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hydrationCards {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 10px;
    width: fit-content;
    flex-direction: row;
    width: 15rem;
    height: 10rem;
    max-height: 15rem;
}

h4 {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0px;
}

li {
    font-weight: normal;
    width: fit-content;
    text-align: left;
}

