.profilePage {
    text-align: center;
    background: #9c9c6f;
}

.profileForm {
    display: block;
}

.formGroup {
    margin: 30px;
}
.button {
    padding: 10px;
    background-color: #5f9660;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: white; 
}