div {
    max-height: fit-content;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.homePage.card {
    background: transparent;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px purple;
    text-align: center;
}

.homePage p {
    margin-bottom: 30px;
}

.enter {
    padding: 10px;
    background: #43a047;
    border-radius: 5px;
    border: 5px solid navy;
    color: white;
}