.animation {
    max-height: fit-content;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.backgroundImage {
    padding: 5px;
    margin: 10px;
    top: 0;
    left: 0;
    max-width: 99%;
    height: 700px;
    background-size: cover;
    background-position: center;
}

.enter {
    padding: 5px;
    background: #284055;
    border-radius: 5px;
    border: 3px solid rgb(26, 17, 5);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
}

#root {
    background-color: #535c64a6;
}

.container {
    background-color: #535c64a6;
    position: absolute;
    margin-top: -350px;
    z-index: 1;
    text-align: center;
    padding: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}