a {
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    color: #3fffd2;
    font-weight: bold;
}

.navBar {
    position: relative;
}

.navBar button {
    position: fixed;
    right: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #284055;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    opacity: 0.75;
}

.menuNav.showMenu {
    width: 100%;
}

.menuNav li:first-child {
    margin-top: 7rem;
}
